@import './colors.scss';

.side-image-container {
  float: left;
  width: 50%;
}

.logo-img {
  background-image: url(http://localhost:8000/logo-green.png);
  background-repeat: no-repeat;
  height: 8vh;
  margin: auto;
  margin-bottom: 4vh;
}

.side-img {
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.form-container {
  float: right;
  margin: auto;
  margin-top: 10vw;
  width: 50%;

  form,
  h1,
  img {
    align-items: center;
    display: table;
    margin: auto;
    width: 25vw;
  }

  input,
  button {
    width: 100%;
  }

  h1 {
    color: color('greenery');
  }
}

.button-primary {
  background-color: color('greenery');
  border-color: color('greenery');
  border-radius: .3rem;
  color: color('white');
  font-size: 1.25rem;
  line-height: 1.5;
  padding: .5rem 1rem;
}

.button-secondary {
  @extend .button-primary;

  background-color: color('orion');
  border-color: color('orion');
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 1vw;
}

@media screen and (max-width: 780px) {
  .side-image-container {
    width: 0;
  }

  .form-container {
    width: 100%;

    form,
    h1,
    img {
      width: 80vw;
    }
  }
}
