@import '~loaders.css/src/animations/ball-scale-multiple';
@import './colors.scss';

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-weight: 400;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
}

input {
  background-clip: padding-box;
  background-color: color('white');
  border: 1px solid color('light-greenery');
  border-radius: .25rem;
  color: color('blackish') ;
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: .6rem .8rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;

  &:focus {
    color: #495057;
    border-color: #486971;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(131, 161, 194, 0.15);
    font-weight: 500;
  }
}

.input-wrapper {
  margin: 1rem 0;

  label {
    color: #404F5E;
    line-height: 1.6;
    font-size: 1.1rem;
    font-weight: 500;
  }

  span {
    font-size: 1rem;
    color: red;
  }
}

* {
  box-sizing: border-box;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden { display: none; }
  .loader-active { display: block; }
}
