@import './../colors.scss';

$sm-screen: 576px;
$md-screen: 992px;
$header-breakepoint: 840px;
$landing-header-breakpoint: 850px;

// fonts
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500; //Only Roboto
$font-weight-bold: 700;

$paragraph-font-size: 1.6em;
$border: solid .1rem color('silver');
$nav-min-height: 6.5rem;
$container-side-img-mg-top: 5.6rem;
$shadow-card-color: rgba(color('black'), .15);
